In [2]:
import pandas as pd
import numpy as np

In [338]:
np.set_printoptions(suppress=False)

In [346]:
data = pd.read_csv("datasets/wine.csv", header=None)[1:]
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
1,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
2,1,13.2,1.78,2.14,11.2,100,2.65,2.76,.26,1.28,4.38,1.05,3.4,1050
3,1,13.16,2.36,2.67,18.6,101,2.8,3.24,.3,2.81,5.68,1.03,3.17,1185
4,1,14.37,1.95,2.5,16.8,113,3.85,3.49,.24,2.18,7.8,.86,3.45,1480
5,1,13.24,2.59,2.87,21,118,2.8,2.69,.39,1.82,4.32,1.04,2.93,735

In [340]:
# data = data.sample(frac=1)
Y = data["class"].values
X = data.iloc[:, 1:].values
print(Y[0])
print(X[0])

1
[1.423e+01 1.710e+00 2.430e+00 1.560e+01 1.270e+02 2.800e+00 3.060e+00
 2.800e-01 2.290e+00 5.640e+00 1.040e+00 3.920e+00 1.065e+03]

In [319]:
def naive_bayes(X_train, Y_train, X):
    p_classes = np.bincount(Y) / len(Y)
    print(p_classes)
    for c in p_classes:
        print(np.bincount(X_train[Y_train == c]) / X_train[Y_train == c].shape[0])
            
# naive_bayes(X, Y, X)

In [320]:
P = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
v = np.array([1,1,3,1,2])
# print(P)
# print(v)
print(P[v])

[[ 4  5  6]
 [ 4  5  6]
 [10 11 12]
 [ 4  5  6]
 [ 7  8  9]]

In [321]:
column = X[:, 0]
max_val = np.max(column)
min_val = np.min(column)
print(min_val, max_val)

nr_of_bins = 10
bound = 0.05  # percent of each bound on the left (min_val) and right (max_val)
val_diff = max_val - min_val

11.03 14.83

In [322]:
bins_np = np.linspace(min_val - (bound*val_diff), max_val + (bound*val_diff), nr_of_bins)
# print(bins_np)
res_np = np.digitize(column, bins_np)
# print(res_np)

bincount_np = np.bincount(res_np)
print(bincount_np)

[ 0  1 10 23 33 32 31 29 17  2]

In [323]:
_, bins = pd.cut(column, 10, retbins=True)
bins = [bins[0] - (bound*val_diff)] + list(bins[1:-1]) + [bins[-1] + (bound*val_diff)]
# print(bins)

res_pd = np.digitize(column, bins)

bincount_pd = np.bincount(res_pd)
print(bincount_pd)

[ 0  1 10 19 31 21 27 25 25 17  2]

In [324]:
_, bins_q = pd.qcut(column, 10, retbins=True)
bins_q = [bins_q[0] - (bound*val_diff)] + list(bins_q[1:-1]) + [bins_q[-1] + (bound*val_diff)]
# print(bins_q)

res_pd = np.digitize(column, bins_q)

bincount_pd = np.bincount(res_pd)
print(bincount_pd)

[ 0 18 16 20 17 16 20 17 18 17 19]

In [325]:
attributes = list(data)[1:] 
classes = np.unique(Y)
classes_len = np.bincount(Y)[1:]
classes_probs = classes_len / len(Y)

atributes_probs, atributes_bins = [], []

# print(data[['alcohol']].values)

for i, atr in enumerate(attributes):
#     print(f'First value in column {atr} is {data[atr].values[0]}')

    # get values from whole column
    atr_values = np.array([a for l in data[[atr]].values for a in l])
    
    # digitize
    _, bins = pd.cut(atr_values, 10, retbins=True)
    atr_digitized = np.digitize(atr_values, bins)
    atr_bincount = np.bincount(atr_digitized)[1:]
    
#     print(atr_bincount)
#     print(atr_values)
    
    atributes_bins.append(bins)
    atr_probs = []
    
    for j, c in enumerate(classes):
#         print(f'Attribute {atr} in class {c}')

        atr_in_class = atr_values[Y == c]
#         print(atr_in_class)
        atr_in_class_bincount = np.bincount(np.digitize(atr_in_class, bins))
#         print(atr_in_class_bincount)
        atr_in_class_prob = atr_in_class_bincount / classes_len[j]
#         print(atr_in_class_prob)
        
        atr_probs.append(atr_in_class_prob)
        
    atributes_probs.append(atr_probs)    
    
# np.bincount(X_train[Y_train == c]) / X_train[Y_train == c].shape[0]


# print(atributes_probs)
# print(atributes_probs[0])

In [326]:
def digitize_column(column, bins=[]):
    if len(bins) == 0:
        _, bins = pd.cut(column, 10, retbins=True)
    atr_digitized = np.digitize(column, bins)
    atr_bincount = np.bincount(atr_digitized)
    return atr_digitized, atr_bincount, bins

def count_conditional_probabilities(column, Y, c, bins):
    atr_in_class = column[Y == c]
    atr_in_class_bincount = np.bincount(np.digitize(atr_in_class, bins), minlength=len(bins)+1)
    atr_in_class_prob = atr_in_class_bincount / np.bincount(Y)[c]
    return atr_in_class_prob

In [327]:
def bayes(data, Y, attributes, classes):
    atributes_probs, atributes_bins = [], []

    for i, atr in enumerate(attributes):
        atr_values = np.array([a for l in data[[atr]].values for a in l])
        atr_digitized, atr_bincount, bins = digitize_column(atr_values)

        atributes_bins.append(bins)       
        tmp = np.hstack((count_conditional_probabilities(atr_values, Y, c, bins).reshape(-1, 1) for c in classes))
        atributes_probs.append(tmp)
        
    return atributes_probs, atributes_bins

In [328]:
attributes = list(data)[1:] 
classes = np.unique(Y)

atributes_probs, atributes_bins = bayes(data, Y, attributes, classes)

In [329]:
X_test = X[:7]
# print(X_test)
probs_multiplied = np.ones((X_test.shape[0], len(classes)))
for i, atr in enumerate(attributes):
    column = X_test[:, i]
    atr_digitized, atr_bincount, bins = digitize_column(column, atributes_bins[i])
    probs_multiplied *= atributes_probs[i][atr_digitized]
probs_multiplied *= classes_probs


predicted_classes = classes[probs_multiplied.argmax(axis=1)]
print(predicted_classes)
print(data[:7])

[2 2 3 1 1 3 1]
     class  alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  \
78       2    12.33        0.99  1.95               14.8        136
89       2    12.08        1.33  2.30               23.6         70
174      3    13.40        3.91  2.48               23.0        102
37       1    13.05        1.65  2.55               18.0         98
29       1    14.02        1.68  2.21               16.0         96
132      3    12.81        2.31  2.40               24.0         98
30       1    13.73        1.50  2.70               22.5        101

     total_phenols  flavanodis  nonflavanoid_phehols  proanthocyanins  \
78            1.90        1.85                  0.35             2.76
89            2.20        1.59                  0.42             1.38
174           1.80        0.75                  0.43             1.41
37            2.45        2.43                  0.29             1.44
29            2.65        2.33                  0.26             1.98
132           1.15        1.09                  0.27             0.83
30            3.00        3.25                  0.29             2.38

     color_intensity   hue  OD_diluted_wines  proline
78              3.40  1.06              2.31      750
89              1.74  1.07              3.21      625
174             7.30  0.70              1.56      750
37              4.25  1.12              2.51     1105
29              4.70  1.04              3.59     1035
132             5.70  0.66              1.36      560
30              5.70  1.19              2.71     1285

In [330]:
atributes_bins[0]

atr_digitized = np.digitize([1,2,3,6,9,2,7,5,10,34,12,11,14,13], atributes_bins[0])
print(atr_digitized)

[ 0  0  0  0  0  0  0  0  0 11  3  0  8  6]

In [331]:
X

array([[1.233e+01, 9.900e-01, 1.950e+00, ..., 1.060e+00, 2.310e+00,
        7.500e+02],
       [1.208e+01, 1.330e+00, 2.300e+00, ..., 1.070e+00, 3.210e+00,
        6.250e+02],
       [1.340e+01, 3.910e+00, 2.480e+00, ..., 7.000e-01, 1.560e+00,
        7.500e+02],
       ...,
       [1.367e+01, 1.250e+00, 1.920e+00, ..., 1.230e+00, 2.460e+00,
        6.300e+02],
       [1.375e+01, 1.730e+00, 2.410e+00, ..., 1.150e+00, 2.900e+00,
        1.320e+03],
       [1.179e+01, 2.130e+00, 2.780e+00, ..., 9.700e-01, 2.440e+00,
        4.660e+02]])

In [341]:
data.head()

,class,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanodis,nonflavanoid_phehols,proanthocyanins,color_intensity,hue,OD_diluted_wines,proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [423]:
Y = data.loc[:, 0].values.astype(int)
X = data.loc[:, 1:].values.astype(float)
print(X.shape)
# print(X[0])
# print(np.hstack((X[:, :0], X[:, 3:5])))

(178, 13)

In [454]:
def bayes2(X, Y):
    classes = np.unique(Y)
    attributes_probs, attributes_bins = [], []

    for i in range(X.shape[1]):
        column = X[:, i]
        atr_digitized, atr_bincount, bins = digitize_column(column)

        attributes_bins.append(bins)       
        atr_probs = np.hstack((count_conditional_probabilities(column, Y, c, bins).reshape(-1, 1) for c in classes))
        attributes_probs.append(atr_probs)
        
    return attributes_probs, attributes_bins

In [450]:
def digitize_column2(column, bins=[]):
    if len(bins) == 0:
        _, bins = pd.cut(column, 10, retbins=True)
    atr_digitized = np.digitize(column, bins)
    atr_bincount = np.bincount(atr_digitized)
    return atr_digitized, atr_bincount, bins

def count_conditional_probabilities2(column, Y, c, bins):
    atr_in_class = column[Y == c]
    atr_in_class_bincount = np.bincount(np.digitize(atr_in_class, bins), minlength=len(bins)+1)
    atr_in_class_prob = atr_in_class_bincount / np.bincount(Y)[c]
    return atr_in_class_prob

In [457]:
classes = np.unique(Y)
print(classes)

atributes_probs, atributes_bins = bayes2(X, Y)

[1 2 3]

In [460]:
def get_X_test_classes(X_test, attributes_probs, atributes_bins, classes, classes_probs):
    probs_multiplied = np.ones((X_test.shape[0], len(classes)))
    
    for i in range(X_test.shape[1]):
        column = X_test[:, i]
        atr_digitized, atr_bincount, bins = digitize_column(column, atributes_bins[i])
        probs_multiplied *= attributes_probs[i][atr_digitized]
    probs_multiplied *= classes_probs
    return 

    


X_test = X[:7]
# # print(X_test)
# probs_multiplied = np.ones((X_test.shape[0], len(classes)))
# for i, atr in enumerate(attributes):
#     column = X_test[:, i]
#     atr_digitized, atr_bincount, bins = digitize_column(column, atributes_bins[i])
#     probs_multiplied *= atributes_probs[i][atr_digitized]
# probs_multiplied *= classes_probs

# predicted_classes = classes[probs_multiplied.argmax(axis=1)]
# print(predicted_classes)
# print(data[:7])

[1 1 1 1 1 1 1]
  0      1     2     3     4    5     6     7    8     9     10    11    12  \
1  1  14.23  1.71  2.43  15.6  127   2.8  3.06  .28  2.29  5.64  1.04  3.92
2  1   13.2  1.78  2.14  11.2  100  2.65  2.76  .26  1.28  4.38  1.05   3.4
3  1  13.16  2.36  2.67  18.6  101   2.8  3.24   .3  2.81  5.68  1.03  3.17
4  1  14.37  1.95   2.5  16.8  113  3.85  3.49  .24  2.18   7.8   .86  3.45
5  1  13.24  2.59  2.87    21  118   2.8  2.69  .39  1.82  4.32  1.04  2.93
6  1   14.2  1.76  2.45  15.2  112  3.27  3.39  .34  1.97  6.75  1.05  2.85
7  1  14.39  1.87  2.45  14.6   96   2.5  2.52   .3  1.98  5.25  1.02  3.58

     13
1  1065
2  1050
3  1185
4  1480
5   735
6  1450
7  1290